body {
    font-family: Pericles;
}

footer {
    background-color: #53cd1a;
    border: 2px solid #cda215;
    margin: 8px;
    padding: 4px;
    border-radius: 10px;
    border-style: dotted; 
}


nav{
    float: right;
}

nav ul li {
    display: inline;
    margin: 6px;
}

nav ul li a{
    border-width: 1px ;
    border-color: #2c1c07; 
    border-style: dashed;
      border-radius: 10px;  
     background-color: #ec8507;   
      padding: 2px;  
      
    text-decoration: none;
    
    
}